// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$bgcolor: transparent;
$fgcolor1: #222222;
$fgcolor2: #333333;
$link-hover-color: #4da7ca;

html {
   background: transparent;
   overflow-y: scroll;
}

#content {
    background: #FFF;
}

#content div {
    padding-top: 0px;
}

body {
    font-size: 16px;
    max-width: 1000px;
    width: 100%;
    background: #e7e7e8;
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: #555555;
}

body a {
    color: #4da7ca;
    text-decoration: none;
    &:hover {color: #4da7ca; text-decoration: underline;}
    &:visited {color: #4da7ca;}
}

body > header {
    background: #FFF;
    color: $fgcolor1;

    h1 {
        font-family: "Helvetica Neue",Arial,sans-serif;
        font-size: 1.4em;
        display: block;
        text-align: right;
        font-size: 2.2em;
    }
}

body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
    color: $fgcolor1;
    text-decoration: none;
}

body > footer {
    font-family: "Helvetica Neue",Arial,sans-serif;
    background: $bgcolor;
    color: #555555;
    border: none;
    text-shadow: none;

    a {
        color: #4da7ca;
        &:hover { text-decoration: underline; }
        &:visited { color: #4da7ca; }
    }
}

body > div > div {
    background: $bgcolor;
    border-right: none;
}

body > div {
    background: $bgcolor;
    border: none;
}

#header-inner {
    position: relative;

    span {
        font-size: 0.8em;
        font-family: "Helvetica Neue",Arial,sans-serif;
        margin-right: 15px;

        &.first {
            margin-right: 27px; font-size: 1em; font-weight: bold;
            a { color: #555555; }
        }

        &.last {
            margin-right: 0;
        }

        a {
            font-size: 1em;
            color: #aaaaaa;
            text-decoration: none;
            &:hover { color: #555555; }
        }
    }
}

#span-title {
    font-size: 1.2em;
    position: absolute;
    right: 0;

    a { color: $fgcolor1; }
}

.heading, body > header h1, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue",Arial,sans-serif;
}

#blog-archives {
    time {
        top: 1.57em;
        .month { text-transform: UPPERCASE; }
    }

    h1 {
        font-size: 1.2em;
        margin-bottom: 0.1em;

        a {color: $fgcolor2;}
        a:hover {color: $link-hover-color; text-decoration: none;}
    }

    h2 {
        font-size: 1.3em;
        &:first-child { padding-top: 0.85em; }
    }

    a.category {
        font-family: "Helvetica Neue",Arial,sans-serif;
        &:hover {color: #4da7ca; text-decoration: none;}
    }
}

.home-content-container {
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 20px 20px;
    width: 250px;
}

article > header {
    background: #f7f7f7;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: -55px;
    margin-right: -55px;
}

article header h1 {
    padding-left: 55px;
    font-weight: normal;
}

article > footer {
    padding-bottom: 0.5em;
}

article {
    padding-top: 0em;
}

article img,article video,article .flash-video {
    border: none;
    box-shadow: none;
    width: 100%;
}

.about-container {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    margin: 20px 25px 0px 40px;
}

/*.entry-content {
    border-bottom: 1px #555555; 
    border-style: dashed;
}*/

p code, li code {
    background: #D1D1D1;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    color: $fgcolor2;
    font-size: 0.75em;
    line-height: 1.5em;
    margin: -1px 0;
    padding: 0 0.2em;
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
    background: url("/images/noise.png?1370647968") repeat scroll left top rgba(0, 0, 0, 0.6) !important;
}

.pre-code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span {
    font-family: "DejaVu Sans Mono",Menlo,Monaco,"Andale Mono","Courier New",monospace;
    font-size: 1em;
}

h1 {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #555555;
}

h2 {
    &.name {color: blue; padding-left:20px;}
}

highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #586E75 !important;
    font-family: "DejaVu Sans Mono";
}


aside.sidebar a {
    text-decoration: none;
}

.collapse-sidebar aside.sidebar {
    display: none;
}

.collapse-sidebar #content {
    margin-right: 0px;
}

ul, ol {
    margin-left: 2em;
}

.meta {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    border-bottom: 1px solid #e7e7e8;
    border-style: dotted; 
    padding: 15px 0 15px 0;
}

.month {
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.day {
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.categories {
    font-family: "Helvetica Neue",Arial,sans-serif;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    body {
        font-size: 15px;
    }

    #header-inner span { font-size: .8em; }
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    #header-inner span { font-size: 1em; }
}